body {
    background-color: #05050D;
    background-image: url("../src/images/sky.png");
    background-size: cover;
    background-attachment: fixed;    
}

.titles {
    /* color: #79940C; */
    /* color: #a35a31 */

}

.subtitles {
    color: #dfd7cc;

}
#root {
    /* margin-top: 57px;
    margin-bottom: 57px; */
    width: 100vw;
    /* background-color: #F1EBE4; */
}

.navs {
    /* background-color: #F1EBE4; */
    /* background-color: #253141; */
    background-color: #05050D;
    /* background-color: #04030a; */
}

.branding {
    color: #908f92;
    /* color: #F1EBE4; */

}