body {
    background-color: black;
    
}


#root {
    /* margin-top: 57px;
    margin-bottom: 57px; */
    width: 100vw;
    background-color: black;
}

.navs {
    background-color: black;
}

.branding {
    color: #cca43bff
}