
.main-page-home {
    width: 100vw;
    height: 88vh;
    /* background-image: url("../../images/central_valley.png");
    background-size: cover; */
    /* background-attachment: fixed; */
    /* background-color: #F1EBE4; */
    /* color: #E5E5E5; */
    /* color: #253141; */
    color: #a35a31

}


.content-home {
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 500px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Lucida Sans Typewriter', serif;    
}


