#root {
    margin-top: 57px;
    /* position: relative; */
    /* background-color: #242F40; */
}

.main-page-home {
    padding: 50px;
    width: 100%;
    height: 100vh;
    /* background-color: #242F40; */
    background-image: url("../images/central_valley.png");
    background-size: cover;
    background-attachment: fixed;

}

.content-home {
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 500px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Lucida Sans Typewriter', serif;
    color: #E5E5E5;
    
}
.elevator-pitch {
    /* background-color: white; */
    text-align: center;
}

.rows {
    text-align: center;
}




/* @media only screen and (max-width: 1020px) {
    body { 
        padding-top: 70px;
        padding-bottom: 70px;
        
    }
    .main-page {
        height: 100vh;
        background-color: red;
        text-align: center;
    }
}

@media only screen and (max-width: 900px) {
    body { 
        padding-top: 70px;
        padding-bottom: 70px;
        
    }
    .main-page {
        background-color: red;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    body { 
        padding-top: 70px;
        padding-bottom: 70px;
       
    }
    .main-page {
        background-color: red;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    body { 
        padding-top: 70px;
        padding-bottom: 70px; 
    }
    .main-page {
        background-color: red;
        text-align: center;
    }
}

 */
